{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="col d-flex justify-content-end mb-2 noPadding">
                <button type="submit">
                    <a href="#" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Zapisz Zmiany</a>
                </button>
                <input type="hidden" id="planId" name="plan_id" value="{{ plan_id }}">
            </div>
        </form>
</div>
{% endblock content %}